#form-depot{
    position: relative;
    background-color: var(--primary-color);
    border-radius: 0.25rem;
}
#form-left, #form-right{
    padding: 5px;
}
#form-left>div.col, #form-right>div.col{
    margin: 5px;
}
.barre-verticale{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    width: 1px;
    background-color: rgb(255, 255, 255);
    height: 100%;
}
#form-submit{
    width: fit-content;
}
#validation-fin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 767px) {
    .barre-verticale{
        display: none;
    }
}